.container_login {
	display: grid;
	place-items: center;
	width: 100%;
	height: 100vh;
}

.cover_login {
	display: flex;
	justify-content: space-between;
	width: 800px;
	padding: 20px;
	border-radius: 20px;
	background-color: rgb(164, 144, 120, 0.2);
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.cover_login img {
	width: 300px;
}

.box {
	width: 400px;
	padding: 30px 20px;
	background-color: rgb(78, 122, 107, 0.2);
}

.img_box {
	display: grid;
	place-items: center;
	margin-right: 5px;
	border-radius: 20px 0px 0px 20px;
}

.info_box {
	border-radius: 0px 20px 20px 0px;
}

.login_form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.login_form h2 {
	color: var(--primary-color);
	margin-bottom: 20px;
}

.login_form button {
	padding: 10px;
	border: none;
	border-radius: 10px;
	font-size: 14px;
	color: var(--third-color);
	background-color: var(--primary-color);
	transition: all 0.2s;
}

.login_form button:hover {
	cursor: pointer;
	background-color: var(--fourth-color);
}

.login_form p {
	color: var(--dark-color);
	padding-top: 20px;
}

.input_box {
	display: flex;
	align-items: flex-end;
	position: relative;
	width: 80%;
	height: 40px;
	margin-bottom: 30px;
	border-bottom: 2px solid var(--primary-color);
}

.input_box label {
	position: absolute;
	top: 25px;
	left: 0;
	transform: translateY(-50%);
	color: var(--primary-color);
	font-size: 14px;
	font-weight: 500;
	pointer-events: none;
	transition: 0.5s;
}

.input_box input:focus ~ label {
	top: -2px;
}

.input_box input {
	width: 100%;
	height: 90%;
	background: transparent;
	border: none;
	outline: none;
	font-size: 16px;
	color: var(--primary-color);
}
